<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<title>账号安全中心 - 计算机学院在线选课系统</title>
	<meta name="description" content="">
	<meta name="keywords" content="">
	<!-- 重置样式 -->
	<link href="__PUBLIC__/static/front/css/reset.css" rel="stylesheet">
	<!-- 引入bootstrap CSS -->
	<link href="__PUBLIC__/static/front/css/bootstrap.css" rel="stylesheet">
	<!-- 引入bootstrap 图标 -->
	<link href="__PUBLIC__/static/front/css/font.min.css" rel="stylesheet">
	<!-- 核心CSS -->
	<link href="__PUBLIC__/static/front/css/forget.css" rel="stylesheet">
</head>
<body>
	<!-- 头部导航 -->
    <div class="header">
        <div class=".layout-logo">
            <img src="__PUBLIC__/static/front/images/logo.png" alt="" class="layout-logo">
        </div>
        <div class="layout-user">
            <p>计算机学院在线选课系统</p>
        </div>
    </div>

	<!-- 核心内容 -->
	<div class="wrap">
	<div class="cont clearfix">
			<form class="form active" action="" method="post" id="student" name="myform" enctype="multipart/form-data">
                <h2>
					<i class="icon icon-lock"></i>
					修改密码
				</h2> 
					<input type="password" placeholder="请输入新密码" name="newPassword" id="newPassword" required maxlength="16" minlength="6">
					<input type="password" placeholder="请输入重复新密码" name="renewPassword" id="reNewPassword" required maxlength="16" minlength="6">
					<input type="text" name="captcha" class="pass-text-input " required="true" placeholder="请输入验证码">
					<img src="{:captcha_src()}"  onclick="this.src='{:captcha_src()}'" style="display:block;margin: 14px auto;width:200px;">
					<input type="submit" class="btn btn-danger" value="确认修改"  style="display:block;margin: 14px auto;width:200px;"> 
            </form>
	</div>
	</div>
	
	<!-- Footer区域 -->
	<div class="el-footer">
			<div class="links"> 
				<a target="_blank" href="http://cs.xupt.edu.cn:81/xiyoucs/index.asp">西安邮电大学计算机学院</a> |  
				<a target="_blank" href="http://acat.xupt.edu.cn">计算机应用技术协会</a>
			</div>
			<p class="copyright"> <a href="http://xk.xupt.edu.cn/copyright.html">Copyright</a> © 2019 All Rights Reserved </p>
	</div>
</body>
</html>