<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<title>课程列表 - 计算机学院在线选课系统</title>
	{include file="Public/public" /}
		<!-- 核心内容 -->
		<div class="wrap clearfix">
			<div class="left-list">
				<!-- 左侧头像 -->
				<div class="list-img">
					<a href=""><img src="__PUBLIC__/static/front/images/user-icon.png" alt="用户头像" title="用户头像"></a>
				</div>
				<!-- 左侧姓名 -->
				<div class="list-name">
					<span>{:session('s_name')}</span>
				</div>
				<!-- 左侧选项 -->
				<div class="list-options">
					<ul>
						<a href="{:url('Studentcourse/lst')}">
							<li>
								<span class="icon icon-user-md">&nbsp;</span>
								我的课程
							</li>
						</a>
						<a href="{:url('Unselected/lst')}">
							<li class="active">
								<span class="icon icon-align-justify">&nbsp;</span>
								课程列表
							</li>
						</a>
						<a href="{:url('Studentcourse/history')}">
							<li>
								<span class="icon icon-cloud">&nbsp;</span>
								历史课程
							</li>
                        </a>
						<a href="{:url('Notice/index')}">
							<li>
								<span class="icon icon-bell-alt">&nbsp;</span>
								系统通知
							</li>
						</a>
						<a href="{:url('Studentinfo/index')}">
							<li>
								<span class="icon icon-cog">&nbsp;</span>
								账号管理
							</li>
						</a>
					</ul>
				</div>
			</div>

			<div class="right-cont">
				<!-- 右侧标题 -->
				<div class="cont-title">
					待选择的课程
					<?php
					if(isset($lang)){
						echo '（至少选择&nbsp;' . $lang . '&nbsp;门课）';
					}
					?>
					<!-- <div class="confirmCourse">确认选择</div> -->
					<a href ="{$planPath}" hreflang="en" target="_blank" class="historyBtnA">
						<div class="historyBtn">培养计划</div>
					</a>
				</div>
				<!-- 右侧主体 -->
				<div class="cont-main clearfix">
					{volist name="course" id="vo"}
					<a href="{:url('Unselected/details',['c_id'=>$vo.c_id])}">
						<div class="main-list">
							<span>{$vo.c_name}</span>
						</div>
					</a>
					{/volist}
				</div>
			</div>
		</div>
	
		<!-- Footer区域 -->
		<div class="el-footer">
				<div class="links"> 
					<a target="_blank" href="http://cs.xupt.edu.cn:81/xiyoucs/index.asp">西安邮电大学计算机学院</a> |  
					<a target="_blank" href="http://acat.xupt.edu.cn">计算机应用技术协会</a>
				</div>
				<p class="copyright"> <a href="http://xk.xupt.edu.cn/copyright.html">Copyright</a> © 2019 All Rights Reserved </p>
		</div>

	<!-- <script>
		let btnList = document.getElementsByClassName('chooseBtn');
		let chooseConfirmBtn = document.getElementsByClassName('confirmCourse')[0];
		let chooseIndex = 0;courseItems=new Set();
		for(let i = 0 ; i < btnList.length ; i++ ){
			btnList[i].onmouseover=function (){
				this.style.border="2px solid #7b9e31";
				this.parentNode.style.border="2px solid #7b9e31"
			}
			btnList[i].onmouseout=function (){
				if( this.innerText === '' ){
					this.style.border="1px solid #666";
					this.parentNode.style.border="2px dashed #ccc"
				}
			}
			btnList[i].onclick=function (){
				if( this.innerText === '' ){
					this.innerText = '√';
					chooseIndex++;
					courseItems.add(this.getAttribute('data-itemId'));
				}else{
					this.innerText = '';
					chooseIndex--;
					courseItems.delete(this.getAttribute('data-itemId'));
				}
				if( chooseIndex >0 ){
					chooseConfirmBtn.style.border = '1px solid #D71345';
					chooseConfirmBtn.style.color = '#D71345';
					chooseConfirmBtn.style.background = '#fff';
				}else{
					chooseConfirmBtn.style.border = '1px solid #ccc';
					chooseConfirmBtn.style.color = '#ccc';
					chooseConfirmBtn.style.background = '#fff';
				}
			}
		}
		
		chooseConfirmBtn.onclick=function(){
			if( chooseIndex === 0 ){
				return false;
			}else{
				if(confirm('您确认选择这些课程吗？')){
					let oMyForm = new FormData();
					let remoteData = new Array();
					for (const iterator of courseItems) {
						remoteData.push(iterator);
					}
					oMyForm.append("courseItem",remoteData);
					let request = new XMLHttpRequest();
					request.open("POST", "choose");
					request.send(oMyForm);
					request.onreadystatechange = function() {
						if (request.readyState == 4 && (request.status == 200 || request.status == 304)) {
							
						}
					};
				}else{
					return false;
				}
			}
		}
	</script> -->
</body>
</html>