<!doctype html>
<html>
<head>
    <meta charset="UTF-8">
    <title>后台管理</title>
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/static/admin/css/common.css"/>
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/static/admin/css/main.css"/>
    <script type="text/javascript" src="__PUBLIC__/static/admin/js/libs/modernizr.min.js"></script>
</head>
<body>
{include file="Public/top" /}
<div class="container clearfix">
    {include file="Public/left" /}
    <!--/sidebar-->
    <div class="main-wrap">

        <div class="crumb-wrap">
            <div class="crumb-list"><i class="icon-font"></i><a href="{:url('Index/home')}">首页</a><span class="crumb-step">&gt;</span><a class="crumb-name" href="{:url('Course/lst')}">课程管理</a><span class="crumb-step">&gt;</span><span>修改课程信息</span></div>
        </div>
        <div class="result-wrap">
            <div class="result-content">
                <form action="{course/edit}" method="post" id="myform" name="myform" enctype="multipart/form-data">
                    <input type="hidden" name="id" value="{$course.c_id}">
                    <table class="insert-tab" width="100%">
                        <tbody>
                            <tr>
                                <th width="10%"><i class="require-red"></i>课程名称：</th>
                                <td>
                                    <input class="common-text required" id="c_name" name="c_name" size="50" value="{$course.c_name}" type="text">
                                </td>
                            </tr>
                            <tr>
                                <th width="10%"><i class="require-red">*</i>课程编号：</th>
                                <td>
                                    <input class="common-text required" id="c_num"  name="c_num" size="50" value="{$course.c_num}" type="text">
                                </td>
                        </tr>
                        <tr>
                                <th width="10%"><i class="require-red">*</i>所属系部：</th>
                                <td><input name="c_major" value="网络工程" {if $course.c_major=='网络工程' } checked="checked" {/if} type="radio" />网络工程
                                    <input name="c_major" value="软件工程"  {if $course.c_major=='软件工程' } checked="checked" {/if} type="radio" />软件工程
                                    <input name="c_major" value="计算机科学与技术"  {if $course.c_major=='计算机科学与技术' } checked="checked" {/if} type="radio" />计算机科学与技术
                                    <input name="c_major" value="数据科学与大数据技术"  {if $course.c_major=='数据科学与大数据技术' } checked="checked" {/if} type="radio" />数据科学与大数据技术
                                </td>
                        </tr>
                        <tr>
                                <th width="10%"><i class="require-red">*</i>所属年级：</th>
                                <td>
                                    <input class="common-text required" id="c_grade" name="c_grade" size="50" value="{$course.c_grade}" type="text">
                                </td>
                        </tr>
                        <tr>
                            <th width="10%"><i class="require-red">*</i>课程名称：</th>
                            <td>
                                <input class="common-text required" id="c_name"  name="c_name" size="50" value="{$course.c_name}" type="text">
                            </td>
                        </tr>
                        <tr>
                                <th width="10%"><i class="require-red">*</i>考核组织单位：</th>
                                <td><input name="c_check_address" value="院考" {if $course.c_check_address=='院考' } checked="checked" {/if} type="radio" />院考
                                    <input name="c_check_address" value="校考" {if $course.c_check_address=='校考' } checked="checked" {/if}  type="radio" />校考
                                </td>
                        </tr>
                        <tr>
                                <th width="10%"><i class="require-red">*</i>学分：</th>
                                <td>
                                    <input class="common-text required" id="c_score" placeholder="" name="c_score" size="50" value="{$course.c_score}" type="text">
                                </td>
                        </tr>
                        <tr>
                                <th width="10%"><i class="require-red">*</i>学时：</th>
                                <td>
                                    <input class="common-text required" id="c_all_time" placeholder="" name="c_all_time" size="50" value="{$course.c_all_time}" type="text">
                                </td>
                        </tr>
                        <tr>
                            <th width="10%"><i class="require-red">*</i>理论学时：</th>
                                <td>
                                    <input class="common-text required" id="c_theoretical_time" placeholder="" name="c_theoretical_time" size="50" value="{$course.c_theoretical_time}" type="text">
                                </td>
                        </tr>
                        <tr>
                                <th width="10%"><i class="require-red">*</i>实验学时：</th>
                                    <td>
                                        <input class="common-text required" id="c_test_hours" placeholder="" name="c_test_hours" size="50" value="{$course.c_test_hours}" type="text">
                                    </td>
                        </tr>
                        <tr>
                                <th width="10%"><i class="require-red">*</i>开课学期：</th>
                                <td>
                                    <input name="c_semester" value="1" {if $course.c_semester=='1' } checked="checked" {/if}  type="radio" />1&nbsp;
                                    <input name="c_semester" value="2" {if $course.c_semester=='2' } checked="checked" {/if} type="radio" />2  &nbsp;
                                    <input name="c_semester" value="3" {if $course.c_semester=='3' } checked="checked" {/if} type="radio" />3  &nbsp;
                                    <input name="c_semester" value="4" {if $course.c_semester=='4' } checked="checked" {/if} type="radio" />4 &nbsp; 
                                    <input name="c_semester" value="5" {if $course.c_semester=='5' } checked="checked" {/if} type="radio" />5  &nbsp;
                                    <input name="c_semester" value="6" {if $course.c_semester=='6' } checked="checked" {/if} type="radio" />6 &nbsp; 
                                    <input name="c_semester" value="7" {if $course.c_semester=='7' } checked="checked" {/if} type="radio" />7  &nbsp;
                                    <input name="c_semester" value="8" {if $course.c_semester=='8' } checked="checked" {/if} type="radio" />8 &nbsp;
                                </td>
                        </tr>
                        <tr>
                                <th width="10%"><i class="require-red">*</i>周学时：</th>
                                    <td>
                                        <input class="common-text required" id="c_weeK_time" placeholder="" name="c_week_time" size="50" value="{$course.c_week_time}" type="text">
                                    </td>
                        </tr>
                        <tr>
                            <th width="10%"><i class="require-red">*</i>备注：</th>
                                <td>
                                    <input class="common-text required" id="c_remarks" placeholder="" name="c_remarks" size="50" value="{$course.c_remarks}" type="text">
                                </td>
                        </tr>
                            <tr>
                                <th></th>
                                <td>
                                    <input class="btn btn-primary btn6 mr10" value="提交" type="submit">
                                    <input class="btn btn6" onclick="history.go(-1)" value="返回" type="button">
                                </td>
                            </tr>
                        </tbody></table>
                </form>
            </div>
        </div>

    </div>
    <!--/main-->
</div>
</body>
</html>