<!doctype html>
<html>
<head>
    <meta charset="UTF-8">
    <title>计算机学院网上选课系统后台管理</title>
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/static/admin/css/common.css"/>
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/static/admin/css/main.css"/>
    <script type="text/javascript" src="__PUBLIC__/static/admin/js/libs/modernizr.min.js"></script>
</head>
<body>
    {include file="Public/top" /}
<div class="container clearfix">
    {include file="Public/left" /}
    <!--/sidebar-->
    <div class="main-wrap">

        <div class="crumb-wrap">
            <div class="crumb-list"><i class="icon-font"></i><a href="{:url('Index/home')}">首页</a><span class="crumb-step">&gt;</span><span class="crumb-name">培养方案管理</span></div>
        </div>
        <div class="result-wrap">
            <form name="myform" id="myform" method="post">
                <div class="result-title">
                    <div class="result-list">
                        <a href="{:url('Plan/add')}"><i class="icon-font"></i>新增培养计划</a>
                    </div>
                </div>
                <div class="result-content">
                    <table class="result-tab" width="100%">
                        <tr>
                            <th width="3%">ID</th>
                            <th>培养计划名称</th>
                            <th width="15%">所属专业</th>
                            <th width="15%">所属年级</th>
                            <th >文件名</th>
                            <th width="15%">操作</th>
                        </tr>
                        {volist name="plan" id="vo"}
                        <tr>
                            <td>{$vo.p_id}</td>
                            <td >{$vo.p_name}</a></td>
                            <td>{$vo.p_major}</a></td>
                            <td>{$vo.p_grade}</a></td>
                            <td>{$vo.p_path}</a></td>
                            <td>
                                <a class="link-del" onclick="return confirm('你确定要删除该培养计划吗？');" href="{:url('del',array('p_id'=>$vo.p_id))}">删除</a>
                            </td>
                        </tr>
                        {/volist}
                    </table>
                </div>
            </form>
        </div>
    </div>
    <!--/main-->
</div>
</body>
</html>