<!doctype html>
<html>
<head>
    <meta charset="UTF-8">
    <title>计算机学院网上选课系统后台管理</title>
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/static/admin/css/common.css"/>
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/static/admin/css/main.css"/>
    <script type="text/javascript" src="__PUBLIC__/static/admin/js/libs/modernizr.min.js"></script>
</head>
<body>
    {include file="Public/top" /}
<div class="container clearfix">
    {include file="Public/left" /}
    <!--/sidebar-->
    <div class="main-wrap">

        <div class="crumb-wrap">
            <div class="crumb-list"><i class="icon-font"></i><a href="{:url('Index/home')}">首页</a><span class="crumb-step">&gt;</span><a class="crumb-name" href="{:url('student/lst')}">学生管理</a><span class="crumb-step">&gt;</span><span>查找结果</span></div>
        </div>
        <div class="result-wrap">
            <form name="myform" id="myform" method="post">
                <div class="result-content">
                    <table class="result-tab" width="100%">
                        <tr>
                            <th width="8%">学号</th>
                            <th width="8%">姓名</th>
                            <th width="8%">专业</th>
                            <th>年级</th>
                            <th width="10%">班级</th>
                            <th>性别</th>
                            <th>年龄</th>
                            <th>E-mail</th>
                            <th>最后登录时间</th>
                            <th width="20%">操作</th>
                        </tr>
                        {volist name="student" id="vo"}
                        <tr>
                            <td>{$vo.s_num}</td>
                            <td >{$vo.name}</td>
                            <td >{$vo.s_major}</td>
                            <td >{$vo.s_grade}</td>
                            <td >{$vo.s_class}</td>
                            <td >{$vo.s_sex}</td>
                            <td >{$vo.s_age}</td>
                            <td >{$vo.s_mail}</td>
                            <th>{$vo.last_login_time}</th>
                            <td>
                                <a class="link-update" href="{:url('edit',array('s_num'=>$vo.s_num))}">修改</a>
                                <a class="link-del" onclick="return confirm('你确定要删除该学生的信息吗？');" href="{:url('del',array('s_num'=>$vo.s_num))}">删除</a>
                            </td>
                        </tr>
                        {/volist}
                    </table>
                    {$page}
                </div>
            </form>
        </div>
    </div>
    <!--/main-->
</div>
</body>
</html>
