<div class="sidebar-wrap">
    <div class="sidebar-title">
        <h1>菜单</h1>
    </div>
    <div class="sidebar-content">
        <ul class="sidebar-list">
            <li>
                <a href="#"><i class="icon-font">&#xe003;</i>常用操作</a>
                <ul class="sub-menu">
                    <li><a href="{:url('course/lst')}"><i class="icon-font">&#xe008;</i>课程管理</a></li>
                    <li><a href="{:url('plan/lst')}"><i class="icon-font">&#xe005;</i>培养计划管理</a></li>
                    <li><a href="{:url('teacher/lst')}"><i class="icon-font">&#xe006;</i>教师管理</a></li>
                    <li><a href="{:url('Student/lst')}"><i class="icon-font">&#xe004;</i>学生管理</a></li>
                    
                    <li><a href="{:url('Major/lst')}"><i class="icon-font">&#xe055;</i>专业管理</a></li>
                    <li><a href="{:url('Distribute/index')}"><i class="icon-font">&#xe052;</i>分配课程</a></li> 
                    <li><a href="{:url('Choose/index')}"><i class="icon-font">&#xe012;</i>选课管理</a></li>
                    <li><a href="{:url('Courseteacher/index')}"><i class="icon-font">&#xe025;</i>教师课程</a></li>   
                </ul>
            </li>
            <li>
                <a href="#"><i class="icon-font">&#xe018;</i>系统管理</a>
                <ul class="sub-menu">
                    <li><a href="{:url('SystemInfo/info')}"><i class="icon-font">&#xe017;</i>系统信息</a></li>
                    <li><a href="{:url('Notice/lst')}"><i class="icon-font">&#xe033;</i>通知管理</a></li>
                    <li><a href="{:url('Clean/index')}"><i class="icon-font">&#xe037;</i>清理缓存</a></li>
                    <li><a href="{:url('BatchImport/index')}"><i class="icon-font">&#xe033;</i>批量导入</a></li>
                    <li><a href="{:url('BatchExport/index')}"><i class="icon-font">&#xe033;</i>批量导出</a></li>
                    <li><a href="{:url('systemSetting/lst')}"><i class="icon-font">&#xe039;</i>系统设置</a></li>
                    <li><a href="{:url('opLog/index')}"><i class="icon-font">&#xe055;</i>操作日志</a></li>
                </ul>
            </li>
        </ul>
    </div>
</div>