<!DOCTYPE html>
<html>
<head>
	    <meta charset="utf-8">
	    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	    <title>通知信息 - 计算机学院在线选课系统</title>
        <meta name="description" content="">
        <meta name="keywords" content="">
        <!-- 重置样式 -->
        <link href="__PUBLIC__/static/front/css/reset.css" rel="stylesheet">
        <!-- 引入bootstrap CSS -->
        <link href="__PUBLIC__/static/front/css/bootstrap.css" rel="stylesheet">
        <!-- 引入bootstrap 图标 -->
        <link href="__PUBLIC__/static/front/css/font.min.css" rel="stylesheet">
        <!-- 核心CSS -->
        <link href="__PUBLIC__/static/front/css/studentInform.css" rel="stylesheet">
    </head>
    <body>
        <!-- 头部导航 -->
        <div class="header">
            <div class=".layout-logo">
                <img src="__PUBLIC__/static/front/images/logo.png" alt="" class="layout-logo">
            </div>
            <div class="layout-user">
                <p class="user-out btn btn-info btn-sm"><a href="{:url('login/logout')}">退出登录</a></p>
            </div>
        </div>
		<!-- 核心内容 -->
		<div class="wrap clearfix">
                <div class="left-list">
                    <!-- 左侧头像 -->
                    <div class="list-img">
                        <a href=""><img src="__PUBLIC__/static/front/images/user-icon.png" alt="用户头像" title="用户头像"></a>
                    </div>
                    <!-- 左侧姓名 -->
                    <div class="list-name">
                        <span>{:session('t_name')}</span>
                    </div>
                    <!-- 左侧选项 -->
                    <div class="list-options">
                            <ul>
                                <a href="{:url('teacher/teaching')}">
                                    <li>
                                        <span class="icon icon-user-md">&nbsp;</span>
                                        所授课程
                                    </li>
                                </a>
                                <a href="{:url('teacher/notice')}">
                                    <li class="active">
                                        <span class="icon icon-bell-alt">&nbsp;</span>
                                        系统通知
                                    </li>
                                </a>
                                <a href="{:url('teacher/info')}">
                                    <li>
                                        <span class="icon icon-cog">&nbsp;</span>
                                        账号管理
                                    </li>
                                </a>
                            
                            </ul>
                    </div>
                </div>
                
            <div class="right-cont">
                <!-- 右侧标题 -->
                <div class="cont-title">
                    系统通知消息
                </div>
                <!-- 右侧主体 -->
                    <li>
                        <div class="cont-main clearfix">
                            <div class="main-list">
                                <div class="list-title">
                                    {$notice.n_title}
                                </div>
                                <div class="list-cont">
                                    {$notice.n_content}
                                </div>
                                <div class="list-info">
                                    <span>{$notice.n_time}</span>
                                </div>
                            </div>
                        </div>
                    </li>
            </div>
        </div>
	
	<!-- Footer区域 -->
    <div class="el-footer">
			<div class="links"> 
				<a target="_blank" href="http://cs.xupt.edu.cn:81/xiyoucs/index.asp">西安邮电大学计算机学院</a> |  
				<a target="_blank" href="http://acat.xupt.edu.cn">计算机应用技术协会</a>
			</div>
			<p class="copyright"> <a href="http://xk.xupt.edu.cn/copyright.html">Copyright</a> © 2019 All Rights Reserved </p>
	</div>
</body>
</html>