<!doctype html>
<html>
<head>
    <meta charset="UTF-8">
    <title>计算机学院网上选课系统后台管理</title>
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/static/admin/css/common.css"/>
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/static/admin/css/main.css"/>
    <script type="text/javascript" src="__PUBLIC__/static/admin/js/libs/modernizr.min.js"></script>
</head>
<body>
    {include file="Public/top" /}
<div class="container clearfix">
    {include file="Public/left" /}
    <!--/sidebar-->
    <div class="main-wrap">
        <div class="crumb-wrap">
            <div class="crumb-list"><i class="icon-font"></i><a href="{:url('Index/home')}">首页</a><span class="crumb-step">&gt;</span><a class="crumb-name" href="{:url('systemSetting/lst')}">系统设置</a><span class="crumb-step">&gt;</span><span>管理员管理</span></div>
        </div>
        <div class="result-wrap">
            <form name="myform" id="myform" method="post">
                <div class="result-title">
                    <div class="result-list">
                        <a href="{:url('systemSetting/add')}"><i class="icon-font"></i>新增管理员</a>
                    </div>
                </div>
                <div class="result-content">
                    <table class="result-tab" width="100%">
                        <tr>
                            <th width="6%">id</th>
                            <th width="20%">管理员名</th>
                            <th width="20%">操作</th>
                        </tr>
                        {volist name="admin" id="vo"}
                        <tr>
                            <td>{$vo.id}</td>
                            <td >{$vo.name}</td>
                            <td>
                                <a class="link-update" href="{:url('change_pwd',array('id'=>$vo.id))}"><i class="icon-font">&#xe002;</i>修改密码</a>&nbsp;
                                <a class="link-del" onclick="return confirm('你确定要删除该管理员？');" href="{:url('del',array('id'=>$vo.id))}"><i class="icon-font">&#xe019;</i>删除</a>
                            </td>
                        </tr>
                        {/volist}
                    </table>
                </div>
            </form>
        </div>
    </div>
    <!--/main-->
</div>
</body>
</html>