<!doctype html>
<html>
<head>
    <meta charset="UTF-8">
    <title>后台管理</title>
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/static/admin/css/common.css"/>
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/static/admin/css/main.css"/>
    <script type="text/javascript" src="__PUBLIC__/static/admin/js/libs/modernizr.min.js"></script>
</head>
<body>
{include file="Public/top" /}
<div class="container clearfix">
    {include file="Public/left" /}
    <!--/sidebar-->
    <div class="main-wrap">

        <div class="crumb-wrap">
            <div class="crumb-list"><i class="icon-font"></i><a href="{:url('Index/home')}">首页</a><span class="crumb-step">&gt;</span><a class="crumb-name" href="{:url('system/lst')}">系统管理</a><span class="crumb-step">&gt;</span><a class="crumb-name" href="{:url('system/admin_lst')}">管理员管理</a><span class="crumb-step">&gt;</span><span>修改密码</span></div>
        </div>
        <div class="result-wrap">
            <div class="result-content">
                <form action="{:url('change_pwd_action')}" method="post" id="myform" name="myform" enctype="multipart/form-data">
                    <input type="hidden" name="id" value="{$name.id}">
                    <table class="insert-tab" width="100%">
                        <tbody>
                            <tr>
                                <th width="10%"><i class="require-red"></i>id：</th>
                                <td>
                                    <input class="common-text required"   size="50" value="{$name.id}" type="text" onfocus=this.blur()>管理员id不可改
                                </td>
                            </tr>
                            <tr>
                                <th width="10%"><i class="require-red">*</i>name：</th>
                                <td>
                                    <input class="common-text required" id="name"  name="name" size="50" value="{$name.name}" type="text">
                                </td>
                            </tr>
                            <tr>
                                    <th width="10%"><i class="require-red">*</i>密码：</th>
                                    <td>
                                        <input class="common-text required" id="passpwd"  name="pwd" size="50" type="password">
                                    </td>
                            </tr>
                            <tr>
                                    <th width="10%"><i class="require-red">*</i>确认密码：</th>
                                    <td>
                                        <input class="common-text required" id="pwd2"  name="pwd2" size="50" type="password">
                                    </td>
                            </tr>
                            <tr>
                                <th></th>
                                <td>
                                    <input class="btn btn-primary btn6 mr10" value="提交" type="submit">
                                    <input class="btn btn6" onclick="history.go(-1)" value="返回" type="button">
                                </td>
                            </tr>
                        </tbody></table>
                </form>
            </div>
        </div>

    </div>
    <!--/main-->
</div>
</body>
</html>