<!doctype html>
<html>
<head>
    <meta charset="UTF-8">
    <title>后台管理</title>
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/static/admin/css/common.css"/>
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/static/admin/css/main.css"/>
    <script type="text/javascript" src="__PUBLIC__/static/admin/js/libs/modernizr.min.js"></script>
</head>
<body>
{include file="Public/top" /}
<div class="container clearfix">
    {include file="Public/left" /}
    <!--/sidebar-->
    <div class="main-wrap">

        <div class="crumb-wrap">
            <div class="crumb-list"><i class="icon-font"></i><a href="{:url('Index/home')}">首页</a><span class="crumb-step">&gt;</span><a class="crumb-name" href="{:url('Teacher/lst')}">课程管理</a><span class="crumb-step">&gt;</span><span>修改栏目</span></div>
        </div>
        <div class="result-wrap">
            <div class="result-content">
                <form action="" method="post" id="myform" name="myform" enctype="multipart/form-data">
                    <input type="hidden" name="id" value="{$student.s_num}">
                    <table class="insert-tab" width="100%">
                        <tbody>
                            <tr>
                                    <th width="10%"><i class="require-red">*</i>时间：</th>
                                    <td>
                                        <input class="common-text required" id="n_time"  name="s_num" size="50" value="{$notice.n_time}" type="text" onfocus=this.blur()>
                                    </td>
                            </tr>
                            <tr>
                                <th width="10%"><i class="require-red">*</i>标题：</th>
                                <td>
                                    <input class="common-text required" id="n_title"  name="name" size="50" value="{$notice.n_title}" type="text">
                                </td>
                            </tr>
                            <tr>
                                <th width="10%"><i class="require-red">*</i>内容：</th>
                                <td>
                                    <textarea class="common-text required" id="n_content"  name="s_major" size="50" value="{$notice.n_content}" type="text"></textarea>
                                    <!-- <textarea name="n_content" class="common-textarea" id="n_content" cols="30" style="width: 50%;" rows="10"></td> -->
                                </td>
                            </tr>
                            <tr>
                                <th></th>
                                <td>
                                    <input class="btn btn-primary btn6 mr10" value="提交" type="submit">
                                    <input class="btn btn6" onclick="history.go(-1)" value="返回" type="button">
                                </td>
                            </tr>
                        </tbody></table>
                </form>
            </div>
        </div>

    </div>
    <!--/main-->
</div>
</body>
</html>