<!doctype html>
<html>
<head>
    <meta charset="UTF-8">
    <title>计算机学院网上选课系统后台管理</title>
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/static/admin/css/common.css"/>
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/static/admin/css/main.css"/>
    <script type="text/javascript" src="__PUBLIC__/static/admin/js/libs/modernizr.min.js"></script>
</head>
<body>
    {include file="Public/top" /}
<div class="container clearfix">
    {include file="Public/left" /}
    <!--/sidebar-->
    <div class="main-wrap">

        <div class="crumb-wrap">
            <div class="crumb-list"><i class="icon-font"></i><a href="{:url('Index/home')}">首页</a><span class="crumb-step">&gt;</span><span class="crumb-name">专业年级管理</span></div>
        </div>
        <div class="result-wrap">
            <form name="myform" id="myform" method="post">
                <div class="result-title">
                </div>
                <div class="result-content">
                    <table class="result-tab" width="100%">
                        <tr>
                            <th width="3%">ID</th>
                            <th width="15%">专业名称</th>
                            <th width="15%">年级</th>
                        </tr>
                        {volist name="major" id="vo"}
                        <tr>
                            <td>{$vo.m_id}</td>
                            <td>{$vo.major_name}</a></td>
                            <td>{$vo.major_grade}</a></td>
                        </tr>
                        {/volist}
                    </table>
                    {$page}
                </div>
            </form>
        </div>
    </div>
    <!--/main-->
</div>
</body>
</html>