<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<title>课程详情 - 计算机学院在线选课系统</title>
	<meta name="description" content="">
	<meta name="keywords" content="">
	<!-- 重置样式 -->
	<link href="__PUBLIC__/static/front/css/reset.css" rel="stylesheet">
	<!-- 引入bootstrap CSS -->
	<link href="__PUBLIC__/static/front/css/bootstrap.css" rel="stylesheet">
	<!-- 引入bootstrap 图标 -->
	<link href="__PUBLIC__/static/front/css/font.min.css" rel="stylesheet">
	<!-- 核心CSS -->
	<link href="__PUBLIC__/static/front/css/details.css" rel="stylesheet">
</head>
<body>
		<!-- 头部导航 -->
		<div class="header">
			<div class=".layout-logo">
				<img src="__PUBLIC__/static/front/images/logo.png" alt="" class="layout-logo">
			</div>
			<div class="layout-user">
				<p class="user-out btn btn-info btn-sm"><a href="{:url('login/logout')}">退出登录</a></p>
			</div>
		</div>
		<!-- 核心内容 -->
		<div class="wrap clearfix">
			<div class="left-list">
				<!-- 左侧头像 -->
				<div class="list-img">
					<a href=""><img src="__PUBLIC__/static/front/images/user-icon.png" alt="用户头像" title="用户头像"></a>
				</div>
				<!-- 左侧姓名 -->
				<div class="list-name">
					<span>{:session('s_name')}</span>
				</div>
				<!-- 左侧选项 -->
				<div class="list-options">
					<ul>
						<a href="{:url('Studentcourse/lst')}">
							<li>
								<span class="icon icon-user-md">&nbsp;</span>
								我的课程
							</li>
						</a>
						<a href="{:url('Unselected/lst')}">
							<li>
								<span class="icon icon-align-justify">&nbsp;</span>
								课程列表
							</li>
						</a>
						<a href="{:url('Studentcourse/history')}">
							<li>
								<span class="icon icon-cloud">&nbsp;</span>
								历史课程
							</li>
                        </a>
						<a href="{:url('Notice/index')}">
							<li>
								<span class="icon icon-bell-alt">&nbsp;</span>
								系统通知
							</li>
						</a>
						<a href="{:url('Studentinfo/index')}">
							<li>
								<span class="icon icon-cog">&nbsp;</span>
								账号管理
							</li>
						</a>
					</ul>
				</div>
			</div>
			
			<div class="right-cont">
					<!-- 右侧标题 -->
					<div class="cont-title">
						课程详情：{$course.c_name}
					</div>
					<!-- 右侧主体 -->
					<div class="cont-main clearfix">
						<!-- <div class="main-list">
							<div><img src="__PUBLIC__/static/front/images/test-course.jpg"></div>
							<span></span>
						</div> -->
						<div class="main-info">
							<!-- <div class="main-choose-Y">
								加入选课
							</div> -->
							<ul class="main-li">
								<li>课程名称：&nbsp;&nbsp;{$course.c_name}</li>
								<li>所属专业：&nbsp;&nbsp;{$course.c_major}</li>
								<li>所属年级：&nbsp;&nbsp;{$course.c_grade}</li>
								<li>考核形式：&nbsp;&nbsp;{$course.c_check_address}</li>
								<li>可修学分：&nbsp;&nbsp;{$course.c_score} 分</li>
								<li>开课学期：&nbsp;&nbsp;第 {$course.c_semester } 学期</li>
								<li>总共学时：&nbsp;&nbsp;{$course.c_all_time}&nbsp;&nbsp;&nbsp;&nbsp;理论学时：{$course.c_all_time}&nbsp;&nbsp;&nbsp;&nbsp;每周学时：{$course.c_week_time}&nbsp;&nbsp;&nbsp;&nbsp;实验学时：{$course.c_test_hours}</li>
							</ul>
						</div>
					</div>
			</div>
		</div>
	
	<!-- Footer区域 -->
	<div class="el-footer">
			<div class="links"> 
				<a target="_blank" href="http://cs.xupt.edu.cn:81/xiyoucs/index.asp">西安邮电大学计算机学院</a> |  
				<a target="_blank" href="http://acat.xupt.edu.cn">计算机应用技术协会</a>
			</div>
			<p class="copyright"> <a href="http://xk.xupt.edu.cn/copyright.html">Copyright</a> © 2019 All Rights Reserved </p>
	</div>
</body>
</html>