<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>404 ~ not found</title>
</head>
<style>
    a {
        color: #868686;
        cursor: pointer;
        text-decoration: none;
        font-size: 20px;
        font-weight: bold
    }
    
    a:hover {
        text-decoration: none;
    }
</style>

<body>
    <div style="text-align: center;width: 1000px;margin-left: auto;margin-right: auto;"><img src="__PUBLIC__/static/front/images/404.jpg" style="max-width:100%">
        <a href="javascript:history.back(-1)">返回上一页</a>
    </div>

</body>

</html>