	<meta name="description" content="">
	<meta name="keywords" content="">
	<!-- 重置样式 -->
	<link href="__PUBLIC__/static/front/css/reset.css" rel="stylesheet">
	<!-- 引入bootstrap CSS -->
	<link href="__PUBLIC__/static/front/css/bootstrap.css" rel="stylesheet">
	<!-- 引入bootstrap 图标 -->
	<link href="__PUBLIC__/static/front/css/font.min.css" rel="stylesheet">
	<!-- 核心CSS -->
	<link href="__PUBLIC__/static/front/css/studentMain.css" rel="stylesheet">
</head>
<body>
	<!-- 头部导航 -->
    <div class="header">
        <div class=".layout-logo">
            <img src="__PUBLIC__/static/front/images/logo.png" alt="" class="layout-logo">
        </div>
        <div class="layout-user">
            <p class="user-out btn btn-info btn-sm"><a href="{:url('login/logout')}">退出登录</a></p>
        </div>
    </div>